{
  "root": true,
  "ignorePatterns": ["**/*"],
  "extends": ["@tinkoff/eslint-config/lib"],
  // ...optionally some other configs
  "overrides": [
    {
      "rules": {
        "no-unused-vars": "off", // or "@typescript-eslint/no-unused-vars": "off",
        "unused-imports/no-unused-imports": "error",
        "unused-imports/no-unused-vars": [
          "warn",
          {
            "vars": "all",
            "varsIgnorePattern": "^_",
            "args": "after-used",
            "argsIgnorePattern": "^_",
          },
        ],
      },
      "no-unused-vars": "off",
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "project": ["./tsconfig.base.json"],
      },
    },
  ],
}
