:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.document-container {
  transition: width 0.3s ease-in-out;
  position: relative;
  cursor: context-menu;
  z-index: 0;

  &__loader {
    padding: 3rem;

    tui-loader {
      --tui-thickness: 0.125em;
    }
  }
}

.document {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.document-page {
  width: 100%;
  display: flex;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.23);
  -moz-box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.23);
  box-shadow: 1px 1px 3px 0px rgba(34, 60, 80, 0.23);
  pointer-events: none;
}

.document-image {
  width: inherit;
  pointer-events: none;
  user-select: none;
}

.document-context-menu {
  font: var(--tui-font-text-m) !important;

  .icon {
    border-width: 0.25rem;
  }
}
